{% extends "NitraIntegraBundle:JobActions:index.html.twig" %}

{% block form %}
    <form action="{{ path("Nitra_IntegraBundle_Job_object", { pk: job.id, action: 'load' }) }}" method="post" {{ form_enctype(form) }} >
        {{ form_widget(form) }}
        {{ form_rest(form) }}

        {% block form_buttons %}
            <div id="edit-actions" class="actions form-actions">
                {% block form_actions %}
                    <input type="submit" name="save" class="i_save" value="{% trans from "NitraIntegraBundle" %}Загрузить{% endtrans %}" />
                    <a class="i_list " href="{{ path("Nitra_IntegraBundle_Job_list") }}">{% trans from "Admingenerator" %}action.generic.list{% endtrans %}</a>
                    <a class="i_reload " href="{{ path("Nitra_IntegraBundle_Job_edit", { 'pk': job.id }) }}">{% trans from "Admingenerator" %}Обновить шаблон прайса поставщика{% endtrans %}</a>
                {% endblock form_actions %}
            </div>
        {% endblock form_buttons %}
    </form>

    {# превью прайса #}
    {% block jobPreview %}
        {% if jobPreview is defined %}
            {% include "NitraIntegraBundle:JobActions:preview.html.twig" with {'jobPreview' : jobPreview } %}
        {% endif %}
    {% endblock jobPreview %}
{% endblock form %}