{% if jobPreview.priceData is defined and jobPreview.priceData %}
    <div id="job_preview" class="job_preview {{ class is defined ? class   }}">
        <div id="job_preview_headline">
            <p>Превью прайса</p>
        </div>
        <div id="job_preview_table" class="preview_content">
            <table class="table data_table">
                <thead>
                    <tr>
                        <th class="th_rowNum">№ строки</th>
                        <th class="th_columnName">Название</th>
                        <th class="th_columnAvailiable">Наличие</th>
                        <th class="th_columnPriceIn1">Цена 1</th>
                        <th class="th_columnPriceIn2 {% if jobPreview.columnPriceIn2_isError %}th_error{% endif %}">Цена 2</th>
                        <th class="th_columnPriceIn3 {% if jobPreview.columnPriceIn3_isError %}th_error{% endif %}">Цена 3</th>
                        <th class="th_columnPriceIn4 {% if jobPreview.columnPriceIn4_isError %}th_error{% endif %}">Цена 4</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rowNum, price in jobPreview.priceData %}
                        <tr class="{% if jobPreview.errorsLines is defined and rowNum in jobPreview.errorsLines %}tr_error{% endif %}">
                            <td class="td_rowNum">{{ rowNum }}</td>
                            <td class="td_columnName">{{ price.columnName }}</td>
                            <td class="td_columnAvailiable">{{ price.columnAvailiable }}</td>
                            <td class="td_columnPriceIn1">{{ price.columnPriceIn1 }}</td>
                            <td class="td_columnPriceIn2 {% if jobPreview.columnPriceIn2_isError %}td_error{% endif %}">{{ price.columnPriceIn2 }}</td>
                            <td class="td_columnPriceIn3 {% if jobPreview.columnPriceIn3_isError %}td_error{% endif %}">{{ price.columnPriceIn3 }}</td>
                            <td class="td_columnPriceIn4 {% if jobPreview.columnPriceIn4_isError %}td_error{% endif %}">{{ price.columnPriceIn4 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}