{% extends_admingenerated "NitraIntegraBundle:OutRulesEdit:form.html.twig" %}

{% block form_formula %}
    {{ parent() }}
    <div class="form_row field_formula field_text  field_simple ">
        <label for="out_rules_formula_buttons"></label>
        <div class="field_content form_field field_calc_formula">
            {% include 'NitraIntegraBundle:Rules:calcFormula.html.twig' with {'field': form.vars.id, 'type': 'out'} %}
        </div>
    </div>
{% endblock %}

{% block form_condition %}
    {{ parent() }}
    <div class="form_row field_condition field_text  field_simple ">
        <label for="out_rules_condition"></label>
        <div class="field_content form_field field_calc_condition">
            {% include 'NitraIntegraBundle:Rules:calcCondition.html.twig' with {'field': form.vars.id, 'type': 'out'} %}
        </div>
    </div>
{% endblock %}