{% extends_admingenerated "NitraIntegraBundle:InRulesList:index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/nitraintegra/css/style.less' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascript_head %}
    {{ parent() }}
    {% javascripts '@NitraIntegraBundle/Resources/public/js/jquery.tablednd.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function() {
            $("#table-list-InRules").tableDnD({
                onDrop: function(table, row) {
                    {% if filters.warehouseId is not defined %}
                        alert('Изменение порядка сортировки разрешено только при выборе фильтра по поставщику');
                    {% elseif sortColumn != 'sortOrder' and sortOrder != 'asc' %}
                        if (confirm('Для смены сортировки необходимо выбрать сортировку по полю приоритета в порядке возростания. Выбрать нужную сортироку?')) {
                            window.location.href = '{{ path(
                                app.request.attributes.get('_route'),
                                app.request.attributes.get('_route_params')|merge({
                                    'sort':     'sortOrder',
                                    'order_by': 'asc',
                                })
                            )|raw }}';
                        }
                    {% else %}
                        var rows = table.tBodies[0].rows;
                        var priorities = {};
                        for (var i = 0; i < rows.length; i++) {
                            priorities[rows[i].id] = i + 1;
                        }
                        if (confirm('Измененный порядок сортировки правил будет сохранен!')) {
                            $.ajax({
                                url: '{{ path('Nitra_IntegraBundle_change_in_rules_sort_order') }}',
                                type: 'POST',
                                data: {
                                    priorities: priorities
                                },
                                success: function(data) {
                                    $(location).attr('href', '{{ path('Nitra_IntegraBundle_InRules_list') }}');
                                }
                            });
                        }
                    {% endif %}
                },
            });
        });
    </script>
{% endblock %}