{% extends_admingenerated "NitraIntegraBundle:InRulesList:row.html.twig" %}

{% block list_row %}
    <tr id="{{ InRules.id }}" class="{{ index is odd ? 'odd' : 'even' }} list_trow">
        {{ block('list_row_content') }}
        {{ block('object_actions') }}
    </tr>
{% endblock list_row %}

{% block list_td_column_sortOrder %}
    {{ InRules.sortOrder ? InRules.sortOrder : 0 }}
{% endblock list_td_column_sortOrder %}

{% block list_td_column_warehouseId %}
    {% if warehouses[InRules.warehouseId] is defined %}
        {{ warehouses[InRules.warehouseId].name }} {{ warehouses[InRules.warehouseId].address }}
    {% else %}
        {{ parent() }}
    {% endif  %}
{% endblock list_td_column_warehouseId %}

{% block list_td_column_parameterValues %}
    {% if InRules.parameterValues is not empty %}
        <ul class="array_list">
            {% for parameterValue in InRules.parameterValues %}
                <li>
                    {{- parameterValue.parameter.name }}: {{ parameterValue.parameterValue.name -}}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock list_td_column_parameterValues %}