{% extends_admingenerated "NitraIntegraBundle:OutRulesList:row.html.twig" %}

{% block list_row %}
    <tr id="{{ OutRules.id }}" class="{{ index is odd ? 'odd' : 'even' }} list_trow">
        {{ block('list_row_content') }}
        {{ block('object_actions') }}
    </tr>
{% endblock list_row %}

{% block list_td_column_sortOrder %}
    {{ OutRules.sortOrder ? OutRules.sortOrder : 0 }}
{% endblock list_td_column_sortOrder %}

{% block list_td_column_supplierId %}
    {% if suppliers[OutRules.supplierId].name is defined %}
        {{ suppliers[OutRules.supplierId].name }}
    {% else %}
        {{ parent() }}
    {% endif  %}
{% endblock list_td_column_supplierId %}

{% block list_td_column_parameterValues %}
    {% if OutRules.parameterValues is not empty %}
        <ul class="array_list">
            {% for parameterValue in OutRules.parameterValues %}
                <li>
                    {{- parameterValue.parameter.name }}: {{ parameterValue.parameterValue.name -}}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock list_td_column_parameterValues %}