<tr id="_details_{{ supplier.id }}">
    <td colspan="4" class="admin_list">
        <table class="dateils_table">
            <thead>
                <tr>
                    <th>{{ 'Склад'|trans() }}</th>
                    <th>{{ 'Товаров на складе'|trans() }}</th>
                    <th>{{ 'Подвязано товаров'|trans() }}</th>
                    <th>{{ 'Черный список'|trans() }}</th>
                </tr>
            </thead>
            <tbody>
                {% for w in warehouses %}
                    <tr>
                        <td>{{ w.address }}</td>
                        <td align="center">{{ w.countTotal|number_format(0) }}</td>
                        <td align="center">{{ w.countBinded|number_format(0) }}</td>
                        <td align="center">{{ w.countBlack|number_format(0) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </td>
</tr>