{% set items = [ ] %}
{% set items = items|merge( { (form['name'].vars.label) : form['name'].vars.data } ) %}
<div class="selected_filters">
    {% for name, value in items %}
        {% if value != '' and value is iterable %}
            {% for value_in_array in value if value_in_array != '' %}
                <span>
                    {{- name }} {{ value_in_array|date('Y-m-d') -}}
                    <a class="link_icon" onclick="delete_control('{{ name }}');">
                        <i class="i_close"></i>
                    </a>
                </span>
            {% endfor %}
        {% elseif value != '' %}
            <span>
                {{- name }} {{ value -}}
                <a class="link_icon" onclick="delete_control('{{ name }}');">
                    <i class="i_close"></i>
                </a>
            </span>
        {% endif %}
    {% endfor %}
    <script>
        function delete_control(name) {
            $('label:contains(' + name + ')').closest('div').remove();
            $('.btn-primary').click();
        }
    </script>
</div>

{% block list_filters %}
    <a class="toggle_filter" onclick="$('.list_filters').toggleClass('visible_pc'); $(this).toggleClass('active');">
        <i></i>
    </a>
    <div class="list_filters">
        <form action="{{ path("Nitra_IntegraBundle_SupplierAnalytics_filters") }}" method="post" {{ form_enctype(form) }}>
            <legend>{% trans from "Admingenerator" %}list.filters{% endtrans %}</legend>
            <fieldset class="form_block form_fieldset_NONE">
                {{ form_errors(form) }}
                {% set items = items|merge( { (form['name'].vars.label) : form['name'].vars.data } ) %}
                {{ form_row(form['name'], {'formType': 'text', 'icon': ''}) }}
                {{ form_rest(form) }}
            </fieldset>
            <div class="actions form-actions">
                <button type="submit" class="btn btm-small btn-primary"><i class="icon-search icon-white"></i> {% trans from "Admingenerator" %}list.button.filter{% endtrans %}</button>
                <button type="submit" class="btn btm-small" name="reset" value="true"><i class="icon-refresh"></i> {% trans from "Admingenerator" %}list.button.reset{% endtrans %}</button>
            </div>
        </form>
    </div>
{% endblock list_filters %}