{% extends "::baseAdmin.html.twig" %}

{% block title %}
    {{ parent() }} - {% trans from "Admin" %}Аналитика поставщиков{% endtrans %}
{% endblock title %}

{% block body %}
    <header>
        <h1>{% trans from "Admin" %}Аналитика поставщиков{% endtrans %}</h1>
    </header>

    <div class="admin_list main_content has_fiters">
        {% block filters %}
            {% include "NitraIntegraBundle:SupplierAnalytics:filters.html.twig" with {  } %}
        {% endblock filters %}

        {% include "NitraIntegraBundle:SupplierAnalytics:results.html.twig" with {  } %}
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // XMLHttpRequest
        var xhrSupplierAnalyticsDetails = false;

        /**
         * Получить детальный отчет по поставщику
         * @param integer $supplierId - ID поставщика
         **/
        function getSupplierAnalyticsDetails(supplierId) {
            // проверить знаяение ID поставщика
            if (typeof(supplierId) == 'undefined') {
                var supplierId = false;
            }

            // не указан ID поставщика
            if (!supplierId) {
                return false;
            }

            // проверить, если запушен предыдущий ajax запрос
            if (xhrSupplierAnalyticsDetails) {
                // прервать предыдущий
                xhrSupplierAnalyticsDetails.abort();
            }

            // получить деталиированные данные
            var tr = $('tr#_supplierId_' + supplierId);
            var detailTr = $('tr#_details_' + supplierId);

            // проверить если НЕ отображени детализированные данные
            if (!tr.hasClass('_withDetails')) {
                // отправить ajax запрос
                // получения детальной инфо по поставщику
                xhrSupplierAnalyticsDetails = $.ajax({
                    url:        '{{ path('Nitra_IntegraBundle_SupplierAnalytics_details') }}',
                    type:       'POST',
                    data:       { 'supplierId': supplierId },
                    dataType:   'html',
                    error: function(fromServer) {
                        var xhrSupplierAnalyticsDetails = false;
                    },
                    success: function(fromServer){
                        var xhrSupplierAnalyticsDetails = false;
                        $('tr#_supplierId_' + supplierId).addClass('_withDetails').after(fromServer);
                    }
                });
            } else {
                // детальная информация была получена ранее
                // спрятать/показать TR
                if (detailTr.css('display') == 'none') {
                    detailTr.show();
                } else {
                    detailTr.hide();
                }
            }
        }
    </script>
{% endblock javascripts %}