<div class="list_results">
    <div class="list_header">
        <div class="list_bar">
            <div class="list_actions">
                &nbsp;
            </div>
        </div>
    </div>
    {% block table_results %}
        <div class="">
            <table id="table-list-supplier" class="table table_responsive">
                <thead>
                    <tr class="list_thead">
                        <th data-hide="" class="list_thead_column">{{ 'Название поставщика'|trans({}, 'Admin') }}</th>
                        <th data-hide="" class="list_thead_column">{{ 'Товаров на складе'|trans() }}</th>
                        <th data-hide="" class="list_thead_column">{{ 'Подвязано товаров'|trans() }}</th>
                        <th data-hide="" class="list_thead_column">{{ 'Черный список'|trans() }}</th>
                    </tr>
                </thead>

                {% if suppliers|length > 0 %}
                    <tbody>
                        {% for supplier in suppliers %}
                            {% include "NitraIntegraBundle:SupplierAnalytics:row.html.twig" with { index: loop.index } %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="row_total">
                            <td class="ar">{{ 'Итого:'|trans() }}</td>
                            <td align="right">{{ total.countTotal|number_format(0) }}</td>
                            <td align="right">{{ total.countBinded|number_format(0) }}</td>
                            <td align="right">{{ total.countBlack|number_format(0) }}</td>
                        </tr>
                    </tfoot>
                {% else %}
                    <tr class="no_results_row">
                        <td colspan="4">{% trans from "Admingenerator" %}list.no.results{% endtrans %}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    {% endblock table_results %}
    <div class="list_footer"></div>
</div>