{% block list_row %}
    <tr id="_supplierId_{{ supplier.id }}" class="{{ index is odd ? 'odd' : 'even' }}">
        <td class="td_string td_name supplier_name">
            <a href="javascript:void(0);" onclick="getSupplierAnalyticsDetails({{ supplier.id }})">{{ supplier.name }}</a>
        </td>
        <td class="td_decimal ">{{ supplier.countTotal|number_format(0) }}</td>
        <td class="td_decimal ">{{ supplier.countBinded|number_format(0) }}</td>
        <td class="td_decimal ">{{ supplier.countBlack|number_format(0) }}</td>
    </tr>
{% endblock list_row %}