{% extends "::baseAdmin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/nitraintegra/css/style.less' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block body %}
    <div class="order_tabs">
        <div class="integra order_tabs_block">
            <div class="column left_block">
                {{ form_start(filterLeft, {'action':path('Nitra_IntegraBundle_Bind_left_panel'), 'method':'post', 'attr':{'id':'filterLeft', 'class':'search_form'}} ) }}
                    {{ form_label(filterLeft,'Поиск по товарам магазина', {'label_attr': {'class': 'form_label'} }) }}
                    {{ form_row(filterLeft.category_id) }}
                    {{ form_row(filterLeft.brand) }}
                    {{ form_row(filterLeft.binding) }}
                    {{ form_row(filterLeft.name, { 'attr': {'placeholder':'поиск по товарам магазина', 'class':'field_search'}, 'icon': 'i_search' })}}
                    {{ form_errors(filterLeft.name) }}
                {{ form_end(filterLeft) }}
                <ul id="leftPanel" class="product_list search_left">
                    <div class="endless_scroll_inner_wrap"></div>
                </ul>
            </div>

            <div class="column_center">
                <a onclick="bind()" class="button_bind link_icon_mini"><i class="i_link"></i></a>
            </div>
            <div class="column right_block">
                {{ form_start(filterRight, {'action':path('Nitra_IntegraBundle_Bind_right_panel'), 'method':'post', 'attr':{'id':'filterRight', 'class':'search_form'}} ) }}
                    {{ form_label(filterRight,'Поиск по неподвязанным товарам поставщиков', {'label_attr': {'class': 'form_label'} }) }}
                    {{ form_row(filterRight.supplier) }}
                    {{ form_row(filterRight.all) }}
                    {{ form_row(filterRight.name, { 'attr': {'placeholder':'поиск по неподвязанным товарам поставщиков', 'class':'field_search'}, 'icon': 'i_search' })}}
                    {{ form_errors(filterRight.name) }}
                {{ form_end(filterRight) }}
                <ul id="rightPanel" class="product_list search_right">
                    <div class="endless_scroll_inner_wrap"></div>
                </ul>
            </div>
        </div>
    </div>

    {% javascripts '@NitraIntegraBundle/Resources/public/js/jquery.endless-scroll.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ form_javascript(filterLeft) }}
    {{ form_javascript(filterRight) }}
    <script type="text/javascript" charset="utf-8">
        var leftPanelEmptyLoaded  = false;
        var rightPanelEmptyLoaded = false;

        {# Добавление, удаление стоков из черного списка #}
        function blackList(id, checked) {
            $.ajax({
                type:       'POST',
                url:        '{{ path('Nitra_IntegraBundle_Bind_black_list') }}',
                data:       {
                    id:      id,
                    checked: checked
                },
                success:    function(data) {
                    if (!$('#{{ filterRight.all.vars.id }}').prop('checked')) {
                        $('li#' + id).remove();
                        appendRightData(false);
                    }
                }
            });
        }

        $('form input').on('keyup', function(e) {
            if ((e.keyCode != 13) || ($(this).prop('type') != 'text')){
                $(this).parents('form').submit();
            }
        });
        $('form select').on('change', function() {
            $(this).parents('form').submit();
        });

        {# Связывание товаров #}
        function bind(){
            {# Отображаем loader #}
            $('#loader').show();
            {# Выбираем товар, с которым будем связывать #}
            var selectedInLeft = $('li.selected:first','ul#leftPanel');
            if(selectedInLeft.length != 1) {
                alert ('Не выбран товар с которым необходимо связать');
                return;
            }
            var product = $(selectedInLeft).first().attr('id');
            {# Выбираем неподвязанные товары, которые надо связать #}
            var selectedInRight = $('li.selected','ul#rightPanel');
            if(selectedInRight.length == 0) {
                alert ('Не выбраны товары которые необходимо связать');
                return;
            }
            var unbinds = $.map(selectedInRight, function(value, i) {
                return $(value).attr('id');
            });

            $.post("{{ path('Nitra_IntegraBundle_Bind_dobind') }}", { product: product, unbinds: unbinds })
                .success(function(data) {
                    {# Обновляем списки #}
                    // обновление товара к которому подвязываем стоки
                    $('li.selected:first','ul#leftPanel').replaceWith(data.product);
                    // удаление подвязываемых стоков из правого списка
                    selectedInRight.each(function(){
                        $(this).remove();
                    });
                    //$("#filterLeft").submit();
                    //$("#filterRight").submit();
                    toggleButtonBind();
                })
                .error(function(data, textStatus) { alert(textStatus); })
                .complete(function() { $('#loader').hide(); });
        }

        {# Данные для левого списка #}
        {# переменная для обработки обрыва запроса при вводе в поле name #}
        var xhrLeft;
        function appendLeftData(replace) {
            if (!leftPanelEmptyLoaded) {
                {# Отображаем loader #}
                $('#loader').show();
                {# get the url for the form #}
                var url=$("#filterLeft").attr("action");
                {# если запрос не закончен и нет ответа при следующем запросе обрываем предыдущий запрос #}
                if(xhrLeft && xhrLeft.readystate != 4){
                    xhrLeft.abort();
                }
                {# start send the post request #}
                xhrLeft = $.ajax({
                    type: "POST",
                    url: url,
                    {# Отправляем данные всех поллей формы #}
                    data: $("#filterLeft").serialize(),
                    success: function(data) {
                        if (!data.replace(/\s/g,"")) {
                            leftPanelEmptyLoaded = true;
                        }
                        if (replace) {
                            $("#leftPanel div.endless_scroll_inner_wrap").html(data);
                        } else {
                            $("#leftPanel div.endless_scroll_inner_wrap").html( $("#leftPanel div.endless_scroll_inner_wrap").html() + data);
                        }
                    },
                    complete: function() {
                        $('#loader').hide();
                        if ($('#leftPanel').height() > $('#leftPanel div.endless_scroll_inner_wrap').height()) {
                            appendLeftData();
                        }
                    },
                    error: function() {
                        leftPanelEmptyLoaded = true;
                    }
                });
                $('#{{ filterLeft.leftPage.vars.id }}').val(parseInt($('#{{ filterLeft.leftPage.vars.id }}').val()) + 1);
            }
        }

        {# Данные для правого списка #}
        {# переменная для обработки обрыва запроса при вводе в поле name #}
        var xhrRight;
        function appendRightData(replace) {
            if (!rightPanelEmptyLoaded) {
                {# Отображаем loader #}
                $('#loader').show();
                {# get the url for the form #}
                var url = $("#filterRight").attr("action");
                {# если запрос не закончен и нет ответа при следующем запросе обрываем предыдущий запрос #}
                if(xhrRight && xhrRight.readystate != 4){
                    xhrRight.abort();
                }
                {# start send the post request #}
                xhrRight = $.ajax({
                    type: "POST",
                    url: url,
                    {# Отправляем данные всех поллей формы #}
                    data: $("#filterRight").serialize(),
                    success: function(data) {
                        if (!data.replace(/\s/g,"")) {
                            rightPanelEmptyLoaded = true;
                        }
                        if (replace) {
                            $("#rightPanel div.endless_scroll_inner_wrap").html(data);
                        } else {
                            $("#rightPanel div.endless_scroll_inner_wrap").html( $("#rightPanel div.endless_scroll_inner_wrap").html() + data);
                        }
                    },
                    complete: function() {
                        $('#loader').hide();
                        if ($('#rightPanel').height() > $('#rightPanel div.endless_scroll_inner_wrap').height()) {
                            appendRightData();
                        }
                    },
                    error: function() {
                        rightPanelEmptyLoaded = true;
                    }
                });
                $('#{{ filterRight.rightPage.vars.id }}').val(parseInt($('#{{ filterRight.rightPage.vars.id }}').val()) + 1);
            }
        }

        $(document).ready(function() {
            {# Перехватываем submit левой панели #}
            $("#filterLeft").submit(function(){
                leftPanelEmptyLoaded = false;
                {# Устанавливаем стартовую страницу #}
                $('#{{ filterLeft.leftPage.vars.id }}').val(0);
                {# Очищаем левый список #}
                $("#leftPanel div.endless_scroll_inner_wrap").empty();
                {# Обновляем левый список #}
                appendLeftData(true);
                {# we dont want the browser to submit the form #}
                return false;
            });

            {# Безконечная прокрутка левого списка #}
            $('ul#leftPanel').endlessScroll({
                fireOnce: true,
                callback: function() {
                    appendLeftData(false);
                }
            });

            {# Перехватываем submit правой панели #}
            $("#filterRight").submit(function(){
                rightPanelEmptyLoaded = false;
                {# Устанавливаем стартовую страницу #}
                $('#{{ filterRight.rightPage.vars.id }}').val(0);
                {# Очищаем правый список #}
                $('ul#rightPanel div.endless_scroll_inner_wrap').empty();
                {# Обновляем правый список #}
                appendRightData(true);
                {# we dont want the browser to submit the form #}
                return false;
            });

            {# Безконечная прокрутка правого списка #}
            $('ul#rightPanel').endlessScroll({
                fireOnce: true,
                callback: function() {
                    appendRightData(false);
                }
            });

            {# Перехватываем click на левом списке #}
            $('ul#leftPanel').on('click','li', function(e){
                {# Находим выделенный товар #}
                var selected = $('li.selected:first','ul#leftPanel');
                if(!$(e.target).hasClass('buttonUnbind')) {
                    selected.removeClass("selected");
                }
                {# Если кликнули не на выделенном товаре - выделяем #}
                if(!$(this).is(selected) && (!$(e.target).hasClass('buttonUnbind'))) {
                    $(this).addClass("selected");
                }
                {# Если есть выделенные товары с обоих сторон - подсвечиваем кнопку #}
                toggleButtonBind();
            });

            {# Перехватываем click на правом списке #}
            $('ul#rightPanel').on('click','li', function(e) {
                console.log(e.target.nodeName);
                if ((e.target.nodeName != 'LABEL') && (e.target.nodeName != 'INPUT')) {
                    {# Устанавливаем или сбрасываем выделение #}
                    $(this).toggleClass("selected");
                    {# Если есть выделенные товары с обоих сторон - подсвечиваем кнопку #}
                    toggleButtonBind();
                }
            });

            {# Перехватываем click на кнопке отвязать #}
            $('ul#leftPanel').on('click', 'a.buttonUnbind', function(){
                {# Отображаем loader #}
                $('#loader').show();
                {# Кнопка с крестиком #}
                var elem = $(this);
                {# Строка прайса #}
                var elemTr = elem.parent().parent();
                {# Данные из кнопки - id прайса #}
                var stockId = elem.data('id');
                {# Название прайса #}
                var stockText = elemTr.find('td:first').text();    // зависит от верстки - div или td ...
                $.post("{{ path('Nitra_IntegraBundle_Bind_unbind') }}", { stockId: stockId })
                    .success(function(data, textStatus) {
                        if(data == 'ok') {
                            {# Удаляем строку прайса #}
                            elemTr.remove();
                            $("#filterRight").submit();
                        } else {
                            alert('Операция с позицией "' + stockText + '" не выполнена');
                        }; })
                    .error(function(data, textStatus) { alert('Возникла ошибка при отвязывании товара "' + stockText + '"'); })
                    .complete(function() { $('#loader').hide(); });
                toggleButtonBind();
            });

            {# Высчитываем высоту блока с результатами поиска в зависимости высоты экрана #}
            $('.integra .product_list').css({'height': $(window).height() - $('.integra .product_list').offset().top -30});
        });
        {# Активация и деактивация кнопки для связывания #}
        function toggleButtonBind() {
            {# Если есть выделенные товары с обоих сторон - подсвечиваем кнопку #}
            if ($('li.selected','ul#leftPanel').length > 0 && $('li.selected','ul#rightPanel').length > 0) {
                $('.buttonBind', '.integra').addClass("active");
            } else {
                $('.buttonBind', '.integra').removeClass("active");
            }
        }

        $(window).resize(function() {
            $('.integra .product_list').css({'height': $(window).height() - $('.integra .product_list').offset().top -30});
        });
    </script>
{% endblock %}