{% for product in products %}
    <li class="product_field{% if not product.obj.isActive %} unactive{% endif %}" id="{{ product.obj.id|e }}">
        <div class="product_info"><span class="price">{% if store_id in product.obj.storePrice|keys %}<span{% if ('isFixedPrice' in product.obj.storePrice[store_id]|keys) and product.obj.storePrice[store_id]['isFixedPrice'] %} class="locked i_password icon_round orange" title="Фиксированная цена"{% endif %}></span> Цена: {{ product.obj.storePrice[store_id]['price'] }}{% endif %}{#{ product.obj.storePrice[...] }#}</span><span class="model">{{ product.obj.model|e }}</span><span class="name">{{ product.obj.name|e }}</span></div>
        {% if (store_id in product.obj.storePrice|keys) and ('lastOutRuleId' in product.obj.storePrice[store_id]|keys) and (product.obj.storePrice[store_id]['lastOutRuleId'] in out_rules|keys) %}<div>Последнее правило: <a onclick="$(this).colorbox();" href="{{ path('Nitra_IntegraBundle_OutRules_edit', {'pk': product.obj.storePrice[store_id]['lastOutRuleId']}) }}">{{ out_rules[product.obj.storePrice[store_id]['lastOutRuleId']] }}</a></div>{% endif %}
        {% if product.stocks is not empty %}
            <table class="binding_products table">
                <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Поставщик</th>
                        <th>Закуп. цена </th>
                        <th>Кол-во</th>
                        <th>Резерв</th>
                        <th>Цена маг.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in product.stocks %}
                        <tr>
                            <td class="name product_title">{{ stock.priceName|raw }}</td>
                            <td><span>{% if stock.warehouseId in suppliers_by_warehouse|keys %}{{ suppliers_by_warehouse[stock.warehouseId] }}</span>{% endif %}{#<i>({{ stock.warehouse.supplier|e }})</i>#}</td>
                            <td class="ar">{{ stock.priceIn|e }}</td>
                            <td class="ac">{{ stock.quantity|e }}</td>
                            <td class="ac">{{ stock.reserved|e }}</td>
                            <td>
                                {% if product.obj.storePrice[store_id]['isFixedPrice'] is defined and product.obj.storePrice[store_id]['isFixedPrice'] == true %}
                                    {{ product.obj.storePrice[store_id]['price']|e }}
                                {% elseif stock.storePrice[store_id] is defined %}
                                        {{ stock.storePrice[store_id]['price']|e }}
                                {% endif %}
                            </td>
                            <td class="button_unbind"><a class="buttonUnbind link_icon" data-id="{{ stock.id|e }}"><i class="i_close"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
             </table>
        {% endif %}
    </li>
{% endfor %}