{% for stock in stocks %}
    <li class="product_field" id="{{ stock.id|e }}">
        <div class="product_title"><span class="name">{{ stock.priceName|raw }}</span><span class="model"></span></div>
        <div><span class="price">{% if stock.warehouseId in suppliers_by_warehouse|keys %}<span>{{ suppliers_by_warehouse[stock.warehouseId].name }}</span>{% endif %}</span></div>
        <div class="ac">Кол-во<br/> {{ stock.quantity|e }}</div>
        <div class="ac">Резерв<br/> {{ stock.reserved|e }}</div>
        <div class="ac">
            {% if stock.warehouseId in suppliers_by_warehouse|keys %}
                {% if suppliers_by_warehouse[stock.warehouseId].priceInColumn1 %}
                    <span>{{ suppliers_by_warehouse[stock.warehouseId].priceInColumn1 }}<br/> {{ stock.price1|e }}</span><br/>
                {% endif %}
                {% if suppliers_by_warehouse[stock.warehouseId].priceInColumn2 %}
                    <span>{{ suppliers_by_warehouse[stock.warehouseId].priceInColumn2 }}<br/> {{ stock.price2|e }}</span><br/>
                {% endif %}
                {% if suppliers_by_warehouse[stock.warehouseId].priceInColumn3 %}
                    <span>{{ suppliers_by_warehouse[stock.warehouseId].priceInColumn3 }}<br/> {{ stock.price3|e }}</span><br/>
                {% endif %}
                {% if suppliers_by_warehouse[stock.warehouseId].priceInColumn4 %}
                    <span>{{ suppliers_by_warehouse[stock.warehouseId].priceInColumn4 }}<br/> {{ stock.price4|e }}</span>
                {% endif %}
            {% endif %}
        </div>
        <div class="ac">
            <label>
                <input type="checkbox" class="black_list" onchange="blackList('{{ stock.id|e }}', this.checked);"{% if stock.inBlackList %} checked="checked"{% endif %}>В ч/с
                {# to do срабатывает двойной клик и чек не появляется
                <i class="check"></i>#}
            </label>
        </div>
    </li>
{% endfor %}