<script type="text/javascript">
    function add(w, type) {
        var field = '';
        if (type === 1) field = "{{field}}_formula";
        if (type === 2) field = "{{field}}_condition";

        var val = document.getElementById(field).value;
        val = val + w;
        document.getElementById(field).value = val;
    }
    function clr(type) {
        var field = '';
        if (type === 1) field = "{{field}}_formula";
        if (type === 2) field = "{{field}}_condition";

        var formula = document.getElementById(field).value;
        var ch = formula[formula.length-1];

        if (ch === '&' || ch === '|') {
            document.getElementById(field).value = formula.substr(0,formula.length-2);
        } else if (ch === '=') {
            var tmp = formula[formula.length-2];
            if (tmp === '>' || tmp === '<' || tmp === '=')
                document.getElementById(field).value = formula.substr(0,formula.length-2);
        } else if (ch !== '}') {
            document.getElementById(field).value = formula.substr(0,formula.length-1);
        } else {
            if (ch === '}') {
                for (var i = formula.length; i > 0; i --) {
                    if (formula[i] === '{') {
                        break;
                    }
                }
                document.getElementById(field).value = formula.substr(0,i);
            }
        }
    }
</script>
<div id="calc_formula">
    <div class="calc_row">
        <button onclick="add(1,1); return false;">1</button>
        <button onclick="add(2,1); return false;">2</button>
        <button onclick="add(3,1); return false;">3</button>
        <button onclick="add('+',1); return false;">+</button>
    </div>
    <div class="calc_row">
        <button onclick="add(4,1); return false;">4</button>
        <button onclick="add(5,1); return false;">5</button>
        <button onclick="add(6,1); return false;">6</button>
        <button onclick="add('-',1); return false;">-</button>
    </div>
    <div class="calc_row">
        <button onclick="add(7,1); return false;">7</button>
        <button onclick="add(8,1); return false;">8</button>
        <button onclick="add(9,1); return false;">9</button>
        <button onclick="add('*',1); return false;">*</button>
    </div>
    <div class="calc_row">
        <button onclick="add(0,1); return false;">0</button>
        <button onclick="add('.',1); return false;">.</button>
        <button onclick="clr(1); return false;"><=</button>
        <button onclick="add('/',1); return false;">/</button>
    </div>
</div>
<div id="calc_price">
    <div class="calc_row prices_buttons_formula">
        {% if type == 'out' %}
            <button class="input_price" onclick="add('{PI}',1); return false;">Входная цена</button>
        {% endif %}
    </div>
</div>