<div id="calc_condition" class="numbers">
    <div class="calc_row">
        <button onclick="add(1,2); return false;">1</button>
        <button onclick="add(2,2); return false;">2</button>
        <button onclick="add(3,2); return false;">3</button>
    </div>
    <div class="calc_row">
        <button onclick="add(4,2); return false;">4</button>
        <button onclick="add(5,2); return false;">5</button>
        <button onclick="add(6,2); return false;">6</button>
    </div>
    <div class="calc_row">
        <button onclick="add(7,2); return false;">7</button>
        <button onclick="add(8,2); return false;">8</button>
        <button onclick="add(9,2); return false;">9</button>
    </div>
    <div class="calc_row">
        <button onclick="add(0,2); return false;">0</button>
        <button onclick="add('.',2); return false;">.</button>
        <button onclick="clr(2); return false;"><=</button>
    </div>
</div>
<div id="calc_condition" class="terms">
    <div class="calc_row">
        <button onclick="add('>',2); return false;">Больше чем</button>
        <button onclick="add('<',2); return false;">Меньше чем</button>
        <button class="more_equally" onclick="add('>=',2); return false;">Больше или равно чем</button>
        <button class="less_equally" onclick="add('<=',2); return false;">Меньше или равн чем</button>
    </div>
    <div class="calc_row">
        <button onclick="add('==',2); return false;">Равно</button>
        <button onclick="add('&&',2); return false;">И</button>
        <button onclick="add('||',2); return false;">Или</button>
        <button class="bracket" onclick="add('(',2); return false;">(</button>
        <button class="bracket" onclick="add(')',2); return false;">)</button>
    </div>
    <div class="calc_row prices_buttons_condition">
        {% if type == 'out' %}
            <button class="button_price" onclick="add('{PI}',2); return false;">Входная цена</button>
            <script type="text/javascript">
                {% if OutRules.supplierId %}
                    var oid = {{ OutRules.supplierId }};
                    $('select[name*="supplierId"]').val(oid).change();
                {% endif %}
                var supplierPricesName = {{ supplierPricesName|raw }};

                function updatePriceButtons(id) {
                    var conditionButtons = '<button class="button_price" onclick="add(\'{PI}\',2); return false;">Входная цена</button>';
                    var formulaButtons = '<button class="input_price" onclick="add(\'{PI}\',1); return false;">Входная цена</button>';
                    var i = 1;
                    for (key in supplierPricesName[id]) {
                        if (supplierPricesName[id][key] != null) {
                            conditionButtons += '<button class="button_price" onclick="add(\'{P' + i + '}\',2); return false;">' + supplierPricesName[id][key] + '</button>';
                            formulaButtons += '<button class="button_price" onclick="add(\'{P' + i + '}\',1); return false;">' + supplierPricesName[id][key] + '</button>';
                        }
                        i++;
                    }
                    $('#calc_condition .calc_row').last().html(conditionButtons);
                    $('#calc_price .calc_row').last().html(formulaButtons);
                }

                $(document).ready(function(){
                    updatePriceButtons($('select[name*="supplierId"]').val());
                    $('select[name*="supplierId"]').change(function(){
                        updatePriceButtons($(this).val());
                    });
                });
            </script>
        {% else %}
            <script type="text/javascript">
                var pricesByWarehouses = {{ pricesBySupplier|json_encode|raw }};
                var conditionButtonPrototype = '<button class="button_price" onclick="add(\'{P__key__}\', 2); return false;">__name__</button>';
                var formulaButtonPrototype   = '<button class="input_price" onclick="add(\'{P__key__}\', 1); return false;">__name__</button>';
                $(document).ready(function() {
                    if ($('select[name*="warehouseId"]').val()) {
                        changeInRule($('select[name*="warehouseId"]').val());
                    }
                    $('select[name*="warehouseId"]').change(function() {
                        changeInRule($(this).val());
                    });
                });
                function changeInRule(value) {
                    $('button.button_price, button.input_price').remove();
                    if (pricesByWarehouses.hasOwnProperty(value)) {
                        var i = 0;
                        for (var key in pricesByWarehouses[value]) {
                            if (key == 'id') {
                                continue;
                            }
                            var val = pricesByWarehouses[value][key];
                            if (val) {
                                $('div.prices_buttons_condition').append(
                                        conditionButtonPrototype.replace(/__key__/g, i + 1).replace(/__name__/g, val)
                                );
                                $('div.prices_buttons_formula').append(
                                        formulaButtonPrototype.replace(/__key__/g, i + 1).replace(/__name__/g, val)
                                );
                            }
                            i ++;
                        }
                    }
                }
            </script>
        {% endif %}
    </div>
</div>