function () {
    var ret = [];
    var selector = {};

    var currencies = {{ currencies|json_encode|raw }};

    {% if brandId or categoryIds %}
        var modelsQuery = {};
        {% if brandId -%}
            modelsQuery["brand.$id"] = ObjectId("{{ brandId }}");
        {% endif %}
        {% if categoryIds -%}
            var arrayObjectCategoryId = [];
            {% for categoryId in categoryIds %}
                arrayObjectCategoryId.push(ObjectId("{{ categoryId }}"));
            {% endfor %}
            modelsQuery["category.$id"] = { $in: arrayObjectCategoryId };
        {% endif %}
        var modelsIds = db.Models.distinct('_id', modelsQuery);
        selector['model.$id'] = { $in: modelsIds };
    {% endif %}
    {% if parametersValues is not empty %}
        var parameterFilters = [];
    {% for parameterId, valueId in parametersValues %}
        parameterFilters.push({
            parameters: {
                $elemMatch: {
                    parameter:  ObjectId("{{ parameterId }}"),
                    values:     ObjectId("{{ valueId }}")
                }
            }
        });
    {% endfor %}
        selector['$and'] = parameterFilters;
    {% endif %}

    var productsIds = db.Products.distinct('_id', selector).map(function(id) {
        return id.valueOf();
    });

    var bulkStocks = db.Stock.initializeUnorderedBulkOp();

    db.Stock.find({
        warehouseId: {{ warehouse }},
        productId:   { $in: productsIds }
    }, {
        price1:        1,
        price2:        1,
        price3:        1,
        price4:        1,
        currency:      1,
        priceIn:       1,
        currencyPrice: 1
    }).forEach(function(s) {
        var currency        = s.hasOwnProperty('currency') ? s.currency : '{{ supplierCurrCode }}';
        var exchange        = (currency == '{{ supplierCurrCode }}')
            ? {{ supplierCurrExch }}
            : (currencies.hasOwnProperty(currency)
                ? currencies[currency]
                : (currencies.hasOwnProperty('{{ supplierCurrCode }}')
                    ? currencies['{{ supplierCurrCode }}']
                    : 1));
        if ({{ condition|raw }}) {
            var priceIn         = Math.round({{ formula|raw }});
            var currencyPrice   = Math.round(priceIn / exchange);

            if (!s.hasOwnProperty('priceIn') || (s.priceIn != priceIn) ||
                !s.hasOwnProperty('currencyPrice') || (s.currencyPrice != currencyPrice)
            ) {
                bulkStocks.find({ _id: s._id }).updateOne({
                    $set: {
                        priceIn:       priceIn,
                        currencyPrice: currencyPrice
                    }
                });

                ret.push(s._id.toString());
            }
        }
    });
    bulkStocks.execute();

    return ret;
}