function () {
    {% block function %}
        {% block initialization %}
            var ret = [];
            var allProductQuantityInStock = []; // Массив айди товаров с колвом в стоках
            var exchange = 1.0;
            var currencies = {{ currencies|json_encode|raw }};

            var warehousesPriority = {{ warehousesPriority|json_encode|raw }};

            var warehousesId = {{ warehousesId|json_encode|raw }};
            var selector = {};
            selector.warehouseId = {
                $in: warehousesId
            }
        {% endblock initialization %}

        {% block own_products_processing %}
            {# обработка товаров, для которых нет ни одного предлжения поставщика, но которые есть на складе -#}
            {%- if ownWarehouses is not empty -%}
                var ownProductsIdsString = db.Stock.distinct('productId', {
                    warehouseId: {
                        $in: {{ ownWarehouses|json_encode|raw }}
                    },
                    $where: '(this.quantity - this.reserved) > 0',
                    'storePrice.{{ OutRule.store.id }}.price': {
                        $exists: true,
                        $gt: 0
                    }
                });
                var ownProductsIds = [];
                for (key in ownProductsIdsString) {
                    ownProductsIds.push(ObjectId(ownProductsIdsString[key]));
                }
                var bulkProducts = db.Products.initializeUnorderedBulkOp();
                db.Products.find({
                    _id: {
                        $in: ownProductsIds
                    }
                }, {
                    storePrice: 1,
                    stock:      1,
                    isActive:   1
                }).forEach(function (p) {
                    if (!db.Stock.find({ productId: p._id.valueOf(), $where: '(this.quantity - this.reserved) > 0', warehouseId: { $nin: {{ ownWarehouses|json_encode|raw }} } }).count()) {
                        {% block own_product_processing %}
                            var minPrice = 0;
                            db.Stock.find({productId: p._id.valueOf(), $where: '(this.quantity - this.reserved) > 0', warehouseId: { $in: {{ ownWarehouses|json_encode|raw }} }, 'storePrice.{{ OutRule.store.id }}.price': { $exists: true, $gt: 0 } }).forEach(function(s) {
                                if ((minPrice == 0) || (minPrice > s.storePrice['{{ OutRule.store.id }}'].price)) {
                                    minPrice = s.storePrice['{{ OutRule.store.id }}'].price;
                                }
                            });
                            if (minPrice > 0) {
                                var needChange = false;

                                var storePrice   = p.hasOwnProperty('storePrice') ? p.storePrice : {};
                                var isFixedPrice = storePrice.hasOwnProperty('{{ OutRule.store.id }}') && storePrice['{{ OutRule.store.id }}'].hasOwnProperty('isFixedPrice') && storePrice['{{ OutRule.store.id }}'].isFixedPrice;
                                if (!storePrice.hasOwnProperty('{{ OutRule.store.id }}')) {
                                    needChange = !isFixedPrice;
                                    storePrice['{{ OutRule.store.id }}'] = {};
                                } else if (!isFixedPrice && (!storePrice['{{ OutRule.store.id }}'].hasOwnProperty('price') || storePrice['{{ OutRule.store.id }}'].price != minPrice)) {
                                    needChange = true;
                                }
                                storePrice['{{ OutRule.store.id }}'].price = minPrice;
                                var setter = {'stock': 'inStock'};
                                if (!p.hasOwnProperty('stock') || p.stock != 'inStock') {
                                    needChange = true;
                                }
                                {% if parameters.deactivate_out_of_stock %}
                                    if (!p.isActive) {
                                        needChange = true;
                                    }
                                    setter['isActive'] = true;
                                    setter.updatedAt = ISODate();
                                {% endif %}
                                if (!isFixedPrice) {
                                    setter['storePrice'] = storePrice;
                                    setter.updatedAt = ISODate();
                                }
                                if (needChange) {
                                    bulkProducts.find({_id: p._id}).updateOne({$set: setter});
                                    ret.push(p._id.valueOf());
                                }
                            } else {
                                {% if parameters.put_out_of_stock or parameters.deactivate_out_of_stock %}
                                    var setter = {};
                                    {% if parameters.deactivate_out_of_stock %}
                                        if (p.isActive) {
                                            setter.isActive = false;
                                        }
                                    {% endif %}
                                    {% if parameters.put_out_of_stock %}
                                        if (!p.hasOwnProperty('stock') || p.stock != 'notInStock') {
                                            setter.stock = 'notInStock';
                                        }
                                    {% endif %}
                                    if (Object.keys(setter).length) {
                                        setter.updatedAt = ISODate();
                                        bulkProducts.find({_id: p._id}).updateOne({$set: setter});
                                        ret.push(p._id.valueOf());
                                    }
                                {% endif %}
                            }
                        {% endblock own_product_processing %}
                    }
                });
            {% endif -%}
        {% endblock own_products_processing %}

        {% block stocks_processing %}
            var bulkStocks = db.Stock.initializeUnorderedBulkOp();
            {% block stocks_query %}
                {# Добавление к условию выборки персчитываемых стоков условия на товары, выбранные по фильтру (магазин, категория, бренд) #}
                {% if categoryIds or brandId %}
                    var modelsQuery = {
                        'stores.$id': ObjectId("{{ OutRule.store.id }}")
                    };
                    {% if brandId -%}
                        modelsQuery["brand.$id"] = ObjectId("{{ brandId }}");
                    {% endif %}
                    {% if categoryIds -%}
                        var arrayObjectCategoryId = [];
                        {% for categoryId in categoryIds %}
                            arrayObjectCategoryId.push(ObjectId("{{ categoryId }}"));
                        {% endfor %}
                        modelsQuery["category.$id"] = { $in: arrayObjectCategoryId };
                    {% endif %}
                    var modelsIds = db.Models.distinct('_id', modelsQuery);
                    var productsObjectIdsToUpdateStock = db.Products.distinct('_id', { 'model.$id': { $in: modelsIds } });

                    var productsIdsToUpdateStock = [];
                    for (var i in productsObjectIdsToUpdateStock) {
                        productsIdsToUpdateStock.push(productsObjectIdsToUpdateStock[i].valueOf());
                    }

                    selector['productId'] = { $in: productsIdsToUpdateStock };
                {% endif %}
            {% endblock stocks_query %}

            var productIds = [];
            {# пересчет стоков #}
            db.Stock.find(selector, {
                currency:   1,
                price1:     1,
                price2:     1,
                price3:     1,
                price4:     1,
                priceIn:    1,
                storePrice: 1,
                productId:  1,
                quantity:   1,
		        reserved:   1
            }).forEach(function(s) {
                {% block stock_processing %}
                
                    // Фиксируем кол-во товара по стокам
                    if (allProductQuantityInStock[s.productId] && s.quantity - s.reserved > 0) {
                        allProductQuantityInStock[s.productId] = allProductQuantityInStock[s.productId] + s.quantity - s.reserved;
                    } else {
                       allProductQuantityInStock[s.productId] = s.quantity - s.reserved;
                    }
                    
                    var currency        = s.hasOwnProperty('currency') ? s.currency : '{{ supplierCurrCode }}';
                    var exchange        = (currency == '{{ supplierCurrCode }}')
                            ? {{ supplierCurrExch }}
                            : (currencies.hasOwnProperty(currency)
                                ? currencies[currency]
                                : (currencies.hasOwnProperty('{{ supplierCurrCode }}')
                                    ? currencies['{{ supplierCurrCode }}']
                                    : 1));
                    if ({{ condition|raw }}) {
                        var priceOut = {{ formula|raw }};
                        {% if (OutRule.maxMargin is defined) and (OutRule.maxMargin is not null)%}
                            if ((priceOut - s.priceIn) > {{ OutRule.maxMargin }}) priceOut = s.priceIn + {{ OutRule.maxMargin }};
                        {% endif %}
                        {% if (OutRule.minMargin is defined) and (OutRule.minMargin is not null) %}
                            if ((priceOut - s.priceIn) < {{ OutRule.minMargin }}) priceOut = s.priceIn + {{ OutRule.minMargin }};
                        {% endif %}

                        if (
                            (!s.hasOwnProperty('storePrice') ||
                            !s.storePrice.hasOwnProperty('{{ OutRule.store.id }}') ||
                            !s.storePrice['{{ OutRule.store.id }}'].hasOwnProperty('price') ||
                            s.quantity - s.reserved == 0 ||
                            s.storePrice['{{ OutRule.store.id }}'].price != Math.round(priceOut))
                        ) {
                            if (s.quantity - s.reserved > 0 && priceOut > 0) {
                                bulkStocks.find({ _id: s._id }).updateOne({
                                    $set: {
                                        'storePrice.{{ OutRule.store.id }}': {
                                            price:         priceOut ? Math.round(priceOut) : null,
                                            lastOutRuleId: "{{ OutRule.id }}"
                                        }
                                    }
                                });
                            }
                            if (s.hasOwnProperty('productId') && (s.productId.length == 24)) {
                                productIds.push(ObjectId(s.productId));
                            }
                        }
                    }
                {% endblock stock_processing %}
            });
            bulkStocks.execute();
        {% endblock stocks_processing %}

        {% block unactivate_unbinded_products %}
            {% if parameters.unactive_products or parameters.active_products %}
                var deactiveQuery = {% if parameters.deactivate_out_of_stock -%}
                        {$where: 'this.quantity - this.reserved >= 0',warehouseId: { $nin: {{ ownWarehouses|json_encode|raw }}}}
                    {%- else -%}
                        {}
                    {%- endif -%}
                ;
                var bindedProductsStr = db.Stock.distinct('productId', deactiveQuery);
                var bindedProductsObj = [];
                for (var i = 0; i < bindedProductsStr.length; i++) {
                    if (bindedProductsStr[i]) {
                        bindedProductsObj.push(ObjectId(bindedProductsStr[i]));
                    }
                }
            {% endif %}

            {# обновление активности товаров (если нет подвязанных стоков) #}
            {% if parameters.unactive_products %}
                var updatedIds = db.Products.distinct('_id', { _id: { $nin: bindedProductsObj }, isActive: true });
                for (var i in updatedIds) {
                    ret.push(updatedIds[i].valueOf());
                }
                db.Products.update(
                    { _id: { $nin: bindedProductsObj }, isActive: true },
                    { $set: { isActive: false, updatedAt: ISODate() } },
                    { multi: true }
                );
            {% endif %}
        {% endblock unactivate_unbinded_products %}

        {# обновление цен у товаров; в наличии или нет #}
        {% if OutRule.store %}
            {% block products_query %}
                var activeSelector    = {
                    isActive: false,
                    _id: { $in: bindedProductsObj }
                };

                var prodSelector    = {
                    _id: { $in: productIds },
                    $or: [
                        { "storePrice.{{ OutRule.store.id }}.isFixedPrice": { $exists: false } },
                        { "storePrice.{{ OutRule.store.id }}.isFixedPrice": false }
                    ]
                };

                {% if categoryIds or brandId %}
                    var modelsQuery = {
                        'stores.$id': ObjectId("{{ OutRule.store.id }}")
                    };
                    {% if brandId -%}
                        modelsQuery["brand.$id"] = ObjectId("{{ brandId }}");
                    {% endif %}
                    {% if categoryIds -%}
                        var arrayObjectCategoryId = [];
                        {% for categoryId in categoryIds %}
                            arrayObjectCategoryId.push(ObjectId("{{ categoryId }}"));
                        {% endfor %}
                        modelsQuery["category.$id"] = { $in: arrayObjectCategoryId };
                    {% endif %}
                    var modelsIds = db.Models.distinct('_id', modelsQuery);

                    prodSelector["model.$id"] = { $in: modelsIds };
                    activeSelector["model.$id"] = { $in: modelsIds };
                {% endif %}

                {# обновление активности товаров (если есть подвязанные стоки) #}
                {% if parameters.active_products %}
                    {% if not parameters.activate_locked_products %}
                        activeSelector['locked'] = { $ne: true };
                    {% endif %}
                    var updatedIds = db.Products.distinct('_id', activeSelector);
                    for (var i in updatedIds) {
                        ret.push(updatedIds[i].valueOf());
                    }
                    db.Products.update(
                        activeSelector,
                        { $set: { isActive: true, updatedAt: ISODate() } },
                        { multi: true }
                    );
                {% endif %}

                {% if parametersValues is not empty %}
                    var parameterFilters = [];
                {% for parameterId, valueId in parametersValues %}
                    parameterFilters.push({
                        parameters: {
                            $elemMatch: {
                                parameter:  ObjectId("{{ parameterId }}"),
                                values:     ObjectId("{{ valueId }}")
                            }
                        }
                    });
                {% endfor %}
                    prodSelector['$and'] = parameterFilters;
                    activeSelector['$and'] = parameterFilters;
                {% endif %}
            {% endblock products_query %}

            {% block products_processing %}
                var bulkProducts = bulkProducts || db.Products.initializeUnorderedBulkOp();
                db.Products.find(prodSelector, {
                    storePrice: 1,
                    isActive:   1,
                    stock:      1
                }).forEach(function(p) {
                    {% block product_processing %}
                        var minPrice        = 0;
                        var lastOutRuleId   = null;
                        var minOrder        = 10000000000001;
                        {% block product_processing_calc_min_price %}
                            db.Stock.find({
                                productId:                                 p._id.valueOf(),
                                {% if parameters.deactivate_out_of_stock -%}
                                $where:                                    '(this.quantity - this.reserved) > 0',
                                {% endif %}
                                'storePrice.{{ OutRule.store.id }}.price': { $exists: true }
                            }, {
                                storePrice:  1,
                                warehouseId: 1
                            }).forEach(function(s) {
                                var sPrice              = s.storePrice['{{ OutRule.store.id }}'];
                                var price               = sPrice.price;
                                var tmpLastOutRuleId    = sPrice.hasOwnProperty('lastOutRuleId') ? sPrice.lastOutRuleId : null;
                                var order               = (warehousesPriority.hasOwnProperty(s.warehouseId + '') && (warehousesPriority[s.warehouseId + ''] !== '')) ? warehousesPriority[s.warehouseId + ''] : 10000000000000;
                                if (price && ((order < minOrder) || ((order == minOrder) && (price < minPrice)))) {
                                    minPrice        = price;
                                    lastOutRuleId   = tmpLastOutRuleId;
                                    minOrder        = order;
                                }
                            });
                        {% endblock product_processing_calc_min_price %}
                        if (minPrice > 0) {
                            {% block product_processing_activate_product %}
                                {% block product_processing_activate_product_variables %}
                                    var storePrice                          = p.hasOwnProperty('storePrice') ? p.storePrice : {};
                                    var currentStorePrice                   = storePrice.hasOwnProperty('{{ OutRule.store.id }}') ? storePrice["{{ OutRule.store.id }}"] : {};
                                    var oldPrice                            = currentStorePrice.hasOwnProperty('price') ? currentStorePrice.price : 0;
                                    currentStorePrice.price                 = minPrice;
                                    currentStorePrice.lastOutRuleId         = lastOutRuleId;
                                    storePrice["{{ OutRule.store.id }}"]    = currentStorePrice;
                                {% endblock product_processing_activate_product_variables %}

                                {% block product_processing_activate_product_condition %}
                                if (
                                    !p.hasOwnProperty('storePrice') ||
                                    !p.storePrice.hasOwnProperty('{{ OutRule.store.id }}') ||
                                    !p.storePrice['{{ OutRule.store.id }}'].hasOwnProperty('price') ||
                                    (oldPrice != minPrice) ||

                                    !p.hasOwnProperty('stock') || (p.stock != 'inStock')
                                    {% if parameters.deactivate_out_of_stock %}
                                        || !p.isActive
                                    {% endif %}
                                ) {
                                    {% block product_processing_activate_product_update %}
                                        bulkProducts.find({ _id: p._id }).updateOne({ $set: {
                                            {% if parameters.deactivate_out_of_stock -%}
                                            isActive:   true,
                                            {%- endif %}
                                            storePrice: storePrice,
                                            stock:      'inStock',
                                            updatedAt:  ISODate()
                                        }});
                                        ret.push(p._id.valueOf());
                                    {% endblock product_processing_activate_product_update %}
                                }
                                {% endblock product_processing_activate_product_condition %}
                            {% endblock product_processing_activate_product %}
                        } else {
                            {% if parameters.put_out_of_stock or parameters.deactivate_out_of_stock %}
                                {% block product_processing_deactivate_product %}
                                    if (
                                        {% if parameters.deactivate_out_of_stock %}
                                            p.isActive
                                        {% endif %}
                                        {% if parameters.deactivate_out_of_stock and parameters.put_out_of_stock %}
                                            ||
                                        {% endif %}
                                        {% if parameters.put_out_of_stock %}
                                            !p.hasOwnProperty('stock') || (p.stock != 'notInStock')
                                        {% endif %}
                                    ) {
                                        var isActiveProd = allProductQuantityInStock[p._id.valueOf()] !== undefined && allProductQuantityInStock[p._id.valueOf()] !== null && allProductQuantityInStock[p._id.valueOf()] >= 0 ? true : false;
                                        bulkProducts.find({ _id: p._id }).updateOne({ $set: {
                                            {% if parameters.deactivate_out_of_stock %}
                                                'isActive': isActiveProd,
                                            {% endif %}
                                            {% if parameters.put_out_of_stock %}
                                                'stock': 'notInStock',
                                            {% endif %}
                                            'updatedAt': ISODate()
                                        }});
                                        ret.push(p._id.valueOf());
                                    }
                                {% endblock product_processing_deactivate_product %}
                            {% endif %}
                        }
                    {% endblock product_processing %}
                });
                bulkProducts.execute();
            {% endblock products_processing %}
        {% endif %}

        return ret;
    {% endblock function %}
}