@import url("../../admingeneratorgenerator/css/base_styles.less");

/******************* Integra *******************/
.integra                                         { overflow: hidden; position: relative; margin-top: 1em;
    .column_center                               { float: left; width: 3.1em; margin-top: 13em;
        .button_bind                             { padding: 6em 0; background-color: @color-main; border-radius: 2em;
            &:hover                              { background-color: @color-hover; }
        }
    }
    .column                                      {  
        &.left_block, &.right_block              { width: 44%; }
        .form_label                              { display: inline-block; width: 100%; margin-bottom: 0.5em; font-size: 1.3em; }
        h3                                       { margin-top: 0; margin-bottom: 0.5em; }
        .field_category_id, .field_brand, 
        .field_binding, .field_supplier          { display: inline-block; width: 32%; margin-right: 1.1%;
            label                                { display: none !important; }
            .field_content                       { width: 100%;
                .select2-container               { width: 100% !important; min-width: 8em; }
            }
        }
        .field_binding                           { margin-right: 0; }
        .field_all                               { display: inline-block; margin-left: 15%;
            label                                { width: auto !important; padding-right: 1em !important; }
        }
        .product_list                            { overflow-y: scroll; display: block; margin: 0; padding: 0.2em; min-height: 14em; background: #fff; border: 1px solid @color-gray;
            li                                   { padding: 0.4em; border-bottom: 1px solid @color-gray; cursor: pointer; line-height: 1.5em;
                .name                            { color: @color-dark-main !important;
                      span                       { padding-left: 1em; color: #000;}                             
                }
                .product_info                    { overflow: hidden; width: auto !important; line-height: 2.5em;
                    .name,.model                 { padding-right: 1.5em; color: @color-dark-main; font-size: 1em; font-weight: bold; }
                    .model                       { padding-right: 1em; }
                    .price                       { float: right; font-weight: bold;
                        span                     { font-weight: normal; font-size: 0.85em; }
                    }
                }
                .binding_products                { margin: 0.2em 0 0 0;
                    &.table:not(.table_responsive) tbody tr:nth-child(2n) { background: lighten(@color-gray, 17%); }
                    tr                           { border: 1px solid #fff; }
                    th, td                       { height: auto; background: lighten(@color-gray, 17%); border-color: #fff; }
                    td                           { padding: 0.2em; font-size: 0.9em; color: #000;  
                        a:hover                  { text-decoration: none; }
                        &.button_unbind          { .w1; vertical-align: middle; font-size: 0.7em; }
                    }
                }
                &.selected, &:hover              { background: @color-main; color: #fff;
                    .product_info, .name, .model { color: #fff !important; }
                    .binding_products            { 
                        th                       { color: #000; }
                        th, td                   { background-color: @color-light-main; }
                        .name                    { color: @color-dark-main !important; white-space: normal; }
                    }
                }
                &.product_field div              { display: inline-block; width: 13.5%; padding: 0 0.2em; vertical-align: middle; white-space: normal; 
                    &.product_title              { width: 25%; }
                    .black_list                  { display: inline-block; margin-right: 0.5em; }   
                }
            }
            .unactive                            { background-color: #FFD6D6; }
       }
       &.left_block .product_list .product_info  { display: block !important; }
   } 
    
}
#cboxContent .integra_rules_form                 {
    .field_warehouse                             { padding-top: 12px;
        .field_content                           { display: inline-block; }
        label                                    { display: inline-block; margin: 0 0 0px -4px; padding: 5px 20px 0 0; text-align: right; }
    }
    .form_row                                    {
        label                                    { width: 120px; }
        input[type="text"]                       { max-width: 357px; }
    }
    .field_calc_formula                          { display: inline-block; margin: -11px 0 0 142px;
        button                                   { width: 23px; height: 23px; margin: 3px; padding: 0 !important; }
        #calc_price .input_price                 { width: 95%; }


    }
    .field_calc_condition                        { margin: -11px 0px 0 142px;
        #calc_condition                          { display: inline-block;  max-width: 210px; margin-right: 5px; }
        .numbers                                 { vertical-align: top;
            button                               { width: 23px; height: 23px; margin: 3px; padding: 0 !important; }
        }
        .terms                                   {
            button                               { height: 23px; margin: 3px; padding: 0 !important; }
            .more_equally, .less_equally         { width: 179px; }             
            .bracket                             { width: 23px; }
            .button_price                        { float: left; width: 283px; margin: 3px 0 0 -101px; }
        }
    }
}

.custom_filters                                  {   
    .custom_filters_button                       { display: inline-block; margin: 0 0.2em; } 
    .form_row                                    { text-align: left; }
    #form, .actions                              { padding: 0.5em 0.5em 0 1em !important; }
    #form                                        { text-align: center; }
}


/****************************** SETTINGS for MOBILE ***************************/
@media handheld, only screen and (max-width: 1024px) {
    /******************* Integra *******************/
    .integra                                         { 
        .column_center                               { float: none; width: 100%; margin: 0; text-align: center; 
            .button_bind                             { padding: 0 6em; }
        }
        .column                                      { margin: 1em 0.5%; padding: 0.9em; border: 1px solid #fff; background-color: fadeout(@color-gray, 75%); 
            &.left_block, &.right_block              { .border_box; width: 100%; }
        }
    }
}

/****************************** SETTINGS for MOBILE-mini ***************************/
@media handheld, only screen and (max-width: 480px) {
    /******************* Integra *******************/
    .integra                                         { 
        .column                                      {  
            .field_category_id, .field_brand, 
            .field_binding, .field_supplier          { width: 100%; margin-right: 0; }
        }
    }
}
