{% extends_admingenerated "NitraIntegraBundle:JobEdit:form.html.twig" %}

{% block form_fieldset_IsStandart %}
    {{ parent() }}

    {# превью прайса #}
    {% block jobPreview %}
        {% if jobPreview is defined %}
            {% include "NitraIntegraBundle:JobActions:preview.html.twig" with {'jobPreview' : jobPreview,  'class' : 'preview_class' } %}
        {% endif %}
    {% endblock jobPreview %}
{% endblock form_fieldset_IsStandart %}

{# кнопки формы #}
{% block form_actions %}
    {{ parent() }}
    <a class="i_download" href="{{ path("Nitra_IntegraBundle_Job_object", { 'pk': Job.id, action: 'load' }) }}">{% trans from "Admingenerator" %}Загрузить прайс{% endtrans %}</a>
{% endblock form_actions %}