{% extends_admingenerated "NitraIntegraBundle:JobEdit:index.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@NitraIntegraBundle/Resources/public/js/integraJobForm.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %} 