{% block parameters_values_javascript %}
    <script type="text/javascript">
        function functionParametersAutocomplete(query) {
            var data = {results: []};
            $.post("{{ path('integra_parameters_auto_complete') }}", { term: query.term }, function(result) {
                for (var id in result) {
                    data.results.push({id: id, text: result[id]});
                }
                query.callback(data);
            });
        }
        function functionInitParametersSelection(element, callback) {
            if (element.val()) {
                var value = JSON.parse(element.val());
                var data = { id: value.id, text: value.text };
                callback(data);
            }
        }

        /**
         * Filling value for parameter in select2
         * @param {object}   $parameter
         * @param {function} callback
         */
        function fillParameterValues($parameter, callback) {
            $.ajax({
                url:        "{{ path('integra_parameter_values_auto_complete') }}",
                data:       {
                    id: $parameter.val()
                },
                type:       'post',
                success:    function(data) {
                    var values = [];
                    for (var id in data) {
                        values.push({
                            id:   id,
                            text: data[id]
                        });
                    }
                    var $value = $parameter
                        .parents('li')
                        .find('input.selectParameterValue');
                    $value.select2({ data: { results: values } });

                    if (typeof callback === 'function') {
                        callback($parameter, $value);
                    }
                }
            });
        }

        $(document).ready(function () {
            $('form.admin_form .selectParameterValue').each(function() {
                var $parameter = $(this).parents('li').find('input.selectParameter');
                fillParameterValues($parameter, function($parameter, $value) {
                    var val = JSON.parse($value.val());
                    var id  = val.id;
                    $value.select2('val', id);
                    $value.val(JSON.stringify(val));
                });
            });
            $('form.admin_form').on('change', '.selectParameterValue', function(e) {
                $(this).val(JSON.stringify(e.added));
            });
            $('form.admin_form').on('change', '.selectParameter', function(e) {
                var self = this;
                $(this).val(JSON.stringify(e.added));
                fillParameterValues($(this));
            });
        });
    </script>
    {% for child in form %}
        {{ form_javascript(child) }}
    {% endfor %}
{% endblock parameters_values_javascript %}

{% block nitra_integra_select_supplier_warehouse_widget %}
    <select id="{{ widget_id_supplier }}">
        <option value=""></option>
        {% for supplier in suppliers %}
            <option value="{{ supplier.id }}" >{{ supplier.name }}</option>
        {% endfor %}
    </select>

    {{ form_widget(form, { 'attr': {'class': 'nitra_select_supplier_warehouse_' ~ name } }) }}

    <script>
        /**
         * массив складов поставщиков
         * @var array warehouses
         */
        var warehouses_{{ widget_id_warehouse }} = new Array();
        {% for warehouse in warehouses %}
            warehouses_{{ widget_id_warehouse }}[{{ loop.index0 }}] = { id: {{ warehouse.id }}, supplierId: {{ warehouse.supplierId }}, address: "{{ warehouse.address }}"};
        {% endfor %}

        /**
         * изменение поставщика
         * обновление списка городов
         * @param integer selectedSupplierId  - ID выбранного поставщика
         * @param integer selectedwarehouseId - ID выбранного склада
         */
        function changeSupplier_{{ widget_id_supplier }}(selectedSupplierId, selectedwarehouseId) {
            // удалить элементы виджета
            $('#{{ widget_id_warehouse }}').children().remove();
            $('#s2id_{{ widget_id_warehouse }}').find('span[class=select2-chosen]').text('');

            // если выбран поставщик отображить склады данного поставщика
            if (selectedSupplierId) {
                // наполнить список складов
                $.each(warehouses_{{ widget_id_warehouse }}, function(i, warehouse) {
                    // наполнить список складами поставщика
                    if (selectedSupplierId == warehouse.supplierId) {
                        $('#{{ widget_id_warehouse }}').append( $('<option value="' + warehouse.id + '">' + warehouse.address + '</option>') );
                    }
                });
            }

            // выбрать элемент списка склад
            if (selectedwarehouseId) {
                $('#{{ widget_id_warehouse }} option[value="' + selectedwarehouseId + '"]').attr('selected', 'selected');
            }
        }

        // получить выбранный ID поставщика
        var supplierId_{{ widget_id_supplier }} = false;

        // получить выбранный ID склада
        var warehouseId_{{ widget_id_warehouse }} = $('#{{ widget_id_warehouse }} option:selected').val();

        // получить выбранного поставщика
        // если выбран склад
        if (warehouseId_{{ widget_id_warehouse }}) {
            // обойти все склады
            $.each(warehouses_{{ widget_id_warehouse }}, function(i, warehouse) {
                // проверить ID выбранного склада
                if (warehouseId_{{ widget_id_warehouse }} == warehouse.id) {
                    supplierId_{{ widget_id_supplier }} = warehouse.supplierId;
                    return false;
                }
            });
        }

        // выбрать элемент списка поставщик
        if (supplierId_{{ widget_id_supplier }}) {
            $('#{{ widget_id_supplier }} option[value="' + supplierId_{{ widget_id_supplier }} + '"]').attr('selected', 'selected');
        }

        // отобразить склады для поставщика
        // выбрать склад
        $('#{{ widget_id_supplier }}').change(function(){
            changeSupplier_{{ widget_id_supplier }}($(this).val(), warehouseId_{{ widget_id_warehouse }});
        }).change();

        // select2 для виджета
        $('#{{ widget_id_supplier }}').select2({
            placeholder: 'Выберите поставщика'
        });
    </script>
{% endblock %}

{% block genemu_jqueryselect2_hidden_javascript %}
    <script type="text/javascript">
        $(document).ready(function($) {
            var $field = $('#{{ id }}');
            var configs = {};
            {% for key, value in configs %}
                {% if 'function' in value %}
                    configs["{{ key }}"] = {{ value|raw }};
                {% elseif (value is iterable) %}
                    configs["{{ key }}"] = {{ value|json_encode|raw }};
                {% else %}
                    configs["{{ key }}"] = "{{ value|trans({}, translation_domain) }}";
                {% endif %}
            {% endfor %}
            $field.select2(configs);
        });
    </script>
{% endblock %}